#root > div > nav > div:nth-child(2) > div > form > * {
  margin: 2px;
}

#root > div > nav > div:nth-child(1) > button {
  margin: 2px;
  width: max-content;
}

.exampleInputEmail1 {
  width: calc(90vw - 200px)
}

.yeniEkle{
  background-color: rgba(31, 27, 253, 0.938);
}